<?php $posts = Core::getModel('guestbook')->getAllPosts(); ?>
<div class="row-fluid posts">
    <div class="offset1 span10">
        <?php foreach ($posts as $post): ?>
            <div class="row-fluid post post-id-<?php echo $post['id'] ?>">
                <div class="span4" style="<?php if (!$post['approved']): ?> color: red;<?php endif; ?>">
                    <div class="row-fluid">
                        <div class="span12 guest-name">
                            <p class="text-left"><?php echo $post['user_name'] ?></p>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 guest-name">
                            <p class="text-left"><?php echo $post['user_email'] ?></p>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 guest-post-add-time">
                            <p class="text-left"><?php echo $post['data'] ?></p>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 guest-rating">
                            <p class="text-left"><?php echo $post['rating'] ?></p>
                        </div>
                    </div>
                </div>
                <div class="span7" style="padding: 5px">
                    <h4 class="text-left"><?php echo $post['post']; ?></h4>
                </div>
                <div class="span1 admin-approved">

                    <form method="post" id="approved-guest-book-post"
                          action="<?php echo Core::getUrl(Core::getParams('_controller') . '/postapproved'); ?>">
                        <?php if (!$post['approved']) {
                            $postStatus = 'approved';
                        } else {
                            $postStatus = 'disabled';
                        }?>
                        <input type="hidden" id="<?php echo $postStatus; ?>-guest-book-post-id"
                               name="approved-guest-book-post-id"
                               value="<?php echo $post['id'] ?>">
                        <input type="submit" name="approved-guest-book-post" class="btn-link <?php echo $postStatus; ?>"
                               value="<?php echo $postStatus; ?>">
                    </form>
                </div>
            </div>
            <div class="line"></div>
        <?php endforeach; ?>
    </div>
</div>