<!DOCTYPE html>
<html>
<head>
    <!--Head method-->
    <title><?php echo $this->pageTitle; ?></title>
    <!--include all scripts and css-->
    <?php $this->getChild('head-link'); ?>
</head>
<body class="personal-site <?php echo $this->bodyClass; ?> body-<?php echo
    strtolower(Core:: getParams('_controller')) . '-' . strtolower(Core::getParams('_action')) ?>">
<!--header-->
<header>
    <?php $this->getChild('header'); ?>
</header>
<!--Main content container-->
<div class="container-fluid content-container">
    <?php $this->getChild('content') ?>
</div>
<!--footer-->
<footer class="modal-footer">
    <?php $this->getChild('footer') ?>
</footer>
<div id="toTop"></div>
</body>
<!--Output message-->
<div class="short-msg">
    <?php echo $this->_getShortMsg(); ?>
</div>
</html>