<div class="row-fluid ajax-block-response about-me" style="display: none" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
        <img src="media/img/andrey.JPG" alt="" width="200"
             height="200" align="right" class="img-polaroid my-photo"/>
        <p>
            Здравствуйте, меня зовут Андрей!
            Я люблю программировать. Больше всего мне нравится разрабатывать что-то новое либо совершенствовать
            существующие технологии.
            Есть опыт написания экстеншенов под Magento, создание дизайна интернет-магазинов
            исправление ошибок на живых проектах, доработка проектов, оптимизация кода.
            Берусь за работу любой сложности и гарантирую качетсво!</p>

        <h2>Кому я могу помочь?</h2>

        <p>• владельцам бизнеса, которые нуждаются в совершенно новых веб-сайтах, или значительных улучшения в уже
            существующих веб-сайтах</p>

        <p>• предпринимателям, которые хотят интернет-магазины</p>

        <p>• некоммерческим организациям, которые нуждаются в веб-сайтах для сбора денег и создания
            интернет-сообществ</p>

        <p>• авторам, которые хотят веб-сайты для продвижения своих новых книг</p>

        <p>• агентствам, фирмам и фрилансерам, которые ищут программистов для совместной работы</p>
    </div>
</div>

