<script>
    $('.show-post-add-form-btn').click(function () {
        $('.add-new-post-form').animate({
            height: 'show'
        }, 1500);
    });
    $(document).ready(function () {

    })

</script>
<div class="row-fluid ajax-block-response guest-book" style="display: none">
    <div class="row-fluid new-post">
        <div class="offset1 span2">
            <button class="show-post-add-form-btn" name="new_post"><span class="label-newpost">Add new post</span>
            </button>
        </div>

        <div class="span4 add-new-post-form" style="display: none">
            <form id="new-post-form" action="">
                <div class="row-fluid guest-book-name">
                    <div class="span12"><input placeholder="Enter your name" type="text" name="new_post_user_name"
                                               class="input-append"></div>
                </div>
                <div class="row-fluid guest-book-email">
                    <div class="span12"><input placeholder="Enter your email" type="email" name="new_post_user_email"
                                               class="input-append"></div>
                </div>
                <div class="row-fluid guest-book-post">
                    <div class="span12">
                        <textarea placeholder="Add you post" cols="38" rows="8" class="" name="new-post"
                                  id="new-post"></textarea>
                    </div>
                </div>
                <div class="row-fluid guest-book-set-rating">
                    <div class="span12">
                        <div id="set_rating"></div>
                        <script>
                            $('#set_rating').raty({

                                path: 'skin/images/rating',
                                starOn: 'star-on.png',
                                starOff: 'star-off.png'

                            });


                        </script>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <!--  <button name="add_new_post" class="add_new_post" onclick="add_new_post()">
                              <span class="label-btn-add-new-post">Add</span>
                          </button>-->
                        <input type="button" class="add_new_post" onclick="add_new_post();" value="Add">
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="row-fluid added-post-success">
        <div class="offset1 span11">
            <div id="modal" class="modal hide fade">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">×</button>
                    <h3>Запись в гостевой книге</h3>
                </div>
                <div class="modal-body" id="modal-success">

                </div>
                <div class="modal-footer">
                    <p class="modal-footer-ps">С Ув. Бондаренко Андрей</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid posts">
        <div class="offset1 span10 guest_book_posts_ajax">
            <?php $posts = Core::getModel('guestbook')->getApprovedPosts(); ?>
            <?php foreach ($posts as $post): ?>
                <div class="row-fluid post post-id-<?php echo $post['id'] ?>">
                    <div class="span3">
                        <div class="row-fluid">
                            <div class="span12 guest-name">
                                <p class="text-left"><?php echo $post['user_name'] ?></p>
                            </div>
                        </div>
                        <!--<div class="row-fluid">
                            <div class="span12 guest-name">
                                <p class="text-left"><?php /*echo $post['user_email'] */ ?></p>
                            </div>
                        </div>-->
                        <div class="row-fluid">
                            <div class="span12 guest-post-add-time">
                                <p class="text-left"><?php echo $post['data'] ?></p>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12 guest-rating">
                                <div id="fixed-<?php echo $post['id'] ?>"></div>
                                <script>
                                    $('#fixed-<?php echo $post['id'] ?>').raty({
                                        readOnly: true,
                                        start: 2,
                                        score: <?php echo $post['rating'] ?>,
                                        path: 'skin/images/rating',
                                        starOn: 'star-on.png',
                                        starOff: 'star-off.png'

                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="span9">
                        <span class="text-left"><?php echo $post['post']; ?></span>
                    </div>
                </div>
                <div class="line"></div>
            <?php endforeach; ?>
        </div>
    </div>
</div>