<div class="row-fluid">
    <div class="offset3 span6 install-label">
        <h4>Installing components Site... </h4>
    </div>
</div>
<div class="line"></div>
<div class="row-fluid installed">
    <div class="offset3 span6">
        <form id="installed" method="post" action="<?php Core::getUrl('install/index') ?>">
            <div class="row-fluid">
                <div class="span5"><p class="label text-right">Mysql Host:</p></div>
                <div class="span6"><input type="text" name="mysql_host" class="input-append"></div>
            </div>
            <div class="row-fluid">
                <div class="span5"><p class="label text-right">Mysql User Name:</p></div>
                <div class="span6"><input type="text" name="mysql_log" class="input-append"></div>
            </div>
            <div class="row-fluid">
                <div class="span5"><p class="label text-right">Mysql User Password:</p></div>
                <div class="span6"><input type="text" name="mysql_pass" class="input-append"></div>
            </div>
            <div class="row-fluid">
                <div class="span5"><p class="label text-right">Mysql Data Base:</p></div>
                <div class="span6"><input type="text" name="mysql_db_name" class="input-append"></div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <input type="submit" name="installed_send_data" class="btn-inverse" value="Send Data">
                </div>
            </div>
        </form>
    </div>
</div>