html, body.admin, .admin .content-container {
   /* height: 100%;*/
}

.admin .page-header {
    min-height: 100px;
    background: #08638A;
    border-bottom: 1px solid red;
    color: #ffffff;
}

.admin .page-header .offset3.span6 {
    margin-top: 25px;
}

.admin .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.admin .content {
    height: 100%;
}

.adm-exit, .adm-exit:hover {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
}

span.admin-logo {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 35px;
}

form#approved-guest-book-post input.btn-link.approved,
form#approved-guest-book-post input.btn-link.approved:hover {
    color: green;
}

form#approved-guest-book-post input.btn-link.disabled,
form#approved-guest-book-post input.btn-link.disabled:hover {
    color: red;
}