<script>
    jQuery(document).ready(function () {
        load_default_ajax_content('<?php echo Core::getVariable('default_ajax_url');?>')
    });
</script>
<section class="row-fluid section-content ajax-content-block">
    <div class="ajax-response">
    </div>
</section>