<section class="row-fluid section-content sub_block_2">
    <div class="span12">
        <h2>Кому я могу помочь?</h2>

        <p>• владельцам бизнеса, которые нуждаются в совершенно новых веб-сайтах, или значительных улучшения в уже
            существующих веб-сайтах</p>

        <p>• предпринимателям, которые хотят интернет-магазины</p>

        <p>• некоммерческим организациям, которые нуждаются в веб-сайтах для сбора денег и создания
            интернет-сообществ</p>

        <p>• авторам, которые хотят веб-сайты для продвижения своих новых книг</p>

        <p>• агентствам, фирмам и фрилансерам, которые ищут программистов для совместной работы</p>
    </div>
    <!--<div class="span4">
        <div class="row-fluid">
            <div class="span12 first">
                <div class="row-fluid">
                    <div class="offset1 span1 circle">
                        <span class="circle-text">A</span>
                    </div>
                    <div class="span8 text-center">
                        <b>Богатый функционал и высокая скорость!</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 second">
                <div class="row-fluid">
                    <div class="offset1 span1 circle">
                        <span class="circle-text">B</span>
                    </div>
                    <div class="span8 text-center">
                        <b>Дизайн, который смотрится на всех устройствах!</b>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</section>

