<section class="row-fluid section-content sub_block_1">
    <div class="span3 text-center">
        <div class="b1">
            <h4><b><i>Сайт-визитка</i></b></h4>
            <p>Уникальный, удобный и простой сайт-визитка расскажет посетителям о Вас и Вашем товаре.</p>
        </div>
        <div class="b2 icon_visitcard"></div>
    </div>
    <div class="span3 text-center">
        <div class="b1">
            <h4><b><i>Интернет-магазин</i></b></h4>
            <p>Удобный и быстрый интернет-магазин на самой быстрой платформе Magento.</p>
        </div>
        <div class="b2 icon_shop"></div>
    </div>
    <div class="span3 text-center">
        <div class="b1">
            <h4><b><i>Помощь в готовом проекте</i></b></h4>
            <p>Переделываю недочеты, оптимизирую код и структуру сайта, исправляю ошибки.</p>
        </div>
        <div class="b2 icon_help"></div>
    </div>
    <div class="span3 text-center">
        <div class="b1">
            <h4><b><i>Консультация</i></b></h4>
            <p>Если есть вопросы, отвечу, сделаю код ревью.</p>
        </div>
        <div class="b2 icon_consult"></div>
    </div>
</section>