<div class="row-fluid">
    <a target="_blank" href="/docs/andrey_bondarenko_junior_web_developer.pdf">
        <div class="span12 resume">
            <span>Скачать мое резюме</span>
        </div>
    </a>
</div>
<div class="row-fluid footer-middle-part">
    <div class="content-container">
        <div class="row-fluid">

            <div class="span6 social">
                <div class="row-fluid">
                    <div class="span9 social-label">
                        <h6 class="text-left">Social Links:</h6>

                        <div class="line"></div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span2">
                        <div class="footer-social">
                            <a target="_blank" href="http://vk.com/bondarenko.andrey" class="">
                                <div class="sprite-icon vk"></div>
                            </a>
                        </div>
                    </div>
                    <div class="span2">
                        <div class="footer-social">
                            <a target="_blank" href="https://www.facebook.com/profile.php?id=100001044306407" class="">
                                <div class="sprite-icon fb"></div>
                            </a>
                        </div>
                    </div>
                    <div class="span2">
                        <div class="footer-social">
                            <a target="_blank" href="http://vk.com/bondarenko.andrey" class="">
                                <div class="sprite-icon g-plus"></div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="span6 contacts">
                <div class="row-fluid">
                    <div class="offset1 span9 contacts-label right">
                        <h6 class="text-right">Contacts:</h6>

                        <div class="line"></div>
                    </div>
                </div>
                <div class="row-fluid list">
                    <div class="offset1 span6 right">
                        <p><a class="contacts-tel" itemprop="telephone" href="tel:+30937506589">tel:
                                +3(093)750-65-89</a>
                        </p>

                        <p><a class="contacts-tel" itemprop="telephone" href="tel:+30979807220">tel:
                                +3(097)980-72-20</a>
                        </p>

                        <p><a class="contacts-tel" itemprop="telephone" href="tel:andrey_bond91">skype:
                                andrey_bond91</a>
                        </p>

                        <p><a class="contacts-email" itemprop="email"
                              href="mailto:bondarenko0304@gmail.com?Subject=Hello%20Andrey">e-mail:
                                bondarenko0304@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid bondarenko">
        <div class="span12 text-center">Created by Andrey Bondarenko</div>
    </div>
</div>

