<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="/skin/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/skin/css/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/skin/css/bootstrap/css/bootstrap-responsive.min.css"/>
<script src="/skin/js/lib/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="/skin/js/lib/jquery.lemongrab.js" type="text/javascript"></script>

<script src="/skin/css/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/skin/js/toTop.js" type="text/javascript"></script>
<script src="/skin/js/jquery.main.js" type="text/javascript"></script>
<script src="/skin/js/lib/jquery.raty.min.js" type="text/javascript"></script>
<?php echo $this->_addedCustomHeaderLinks(); ?>