<div class="page-header">
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <?php $_imgArray = Core::getModel('index')->imgForCarousel(); ?>
            <?php foreach ($_imgArray as $k => $v): ?>
                <li <?php if ($k == 0) echo 'class="active"'; ?>data-target="#myCarousel"
                    data-slide-to="<?php echo $k; ?>"></li>
            <?php endforeach; ?>
        </ol>
        <div class="carousel-inner">
            <?php foreach ($_imgArray as $k => $v): ?>
                <div class="item <?php if ($k == 0) echo 'active'; ?>">
                    <img src="<?php echo $v; ?>">

                    <div class="carousel-caption">
                        <h4>Если Вам нужен вебсайт – Вы обратились по адресу!</h4>

                       <!-- <p>Параграф</p> -->
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
       <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>-->
    </div>
    <?php $this->getChild('navigation'); ?>
</div>
