<div class="navbar-wrapper">
    <div class="navbar">
        <nav class="navbar-inner">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse">
            <div class="nav-middle">
                <ul class="nav">
                    <li><a onclick="load_content('<?php echo Core::getUrl('ajax/about') ?>')">About me</a></li>
                    <li><a onclick="load_content('<?php echo Core::getUrl('ajax/guest') ?>')">Guest book</a></li>
                </ul>
            </div>
                </div>
        </nav>
    </div>
</div>


