@font-face {
    font-family: Roboto-Black;
    src: url(/skin/src/font/roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: Roboto-BlackItalic;
    src: url(/skin/src/font/roboto/Roboto-BlackItalic.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(/skin/src/font/roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-BoldItalic;
    src: url(/skin/src/font/roboto/Roboto-BoldItalic.ttf);
}
@font-face {
    font-family: Roboto-Italic;
    src: url(/skin/src/font/roboto/Roboto-Italic.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(/skin/src/font/roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-LightItalict;
    src: url(/skin/src/font/roboto/Roboto-LightItalic.ttf);
}
@font-face {
    font-family: Roboto-Mediumt;
    src: url(/skin/src/font/roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-MediumItalic;
    src: url(/skin/src/font/roboto/Roboto-MediumItalic.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(/skin/src/font/roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Thin;
    src: url(/skin/src/font/roboto/Roboto-Thin.ttf);

}
@font-face {
    font-family: Roboto-ThinItalic;
    src: url(/skin/src/font/roboto/Roboto-ThinItalic.ttf);

}
@font-face {
    font-family: RobotoCondensed-Bold;
    src: url(/skin/src/font/roboto/RobotoCondensed-Bold.ttf);

}
@font-face {
    font-family: RobotoCondensed-BoldItalic;
    src: url(/skin/src/font/roboto/RobotoCondensed-BoldItalic.ttf);

}
@font-face {
    font-family: RobotoCondensed-Italic;
    src: url(/skin/src/font/roboto/RobotoCondensed-Italic.ttf);

}
@font-face {
    font-family: RobotoCondensed-Light;
    src: url(/skin/src/font/roboto/RobotoCondensed-Light.ttf);

}
@font-face {
    font-family: RobotoCondensed-LightItalic;
    src: url(/skin/src/font/roboto/RobotoCondensed-LightItalic.ttf);

}
@font-face {
    font-family: RobotoCondensed-Regular;
    src: url(/skin/src/font/roboto/RobotoCondensed-Regular.ttf);

}


html, body, .main-container, .content-container {
    /* height: 100%;*/
}

body.personal-site {
    background-color: #F5F5F5;
    font-family: Roboto-Regular, 'Comic Sans MS', cursive;
    color: #565656;
}

html:after {
    content: ''
}

body .main-container {
    padding-right: 0;
    padding-left: 0;
}

div.content-container {
    max-width: 900px;
    margin: 0 auto;
}

.head-description {

}

div.page-header {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

/*Ajax-content*/
.ajax-loader {
    background: url("/media/img/ajax-loader%20(1).gif") no-repeat scroll 50% 0 transparent;
    opacity: 0.7;
}

.ajax-response {
    min-height: 400px;
}

/*About me*/
.about-me .my-photo {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 0 0 15px;
}

/*Navigation*/
ul.nav li {
    cursor: pointer;
}

.page-header .navbar, .page-header .navbar-inner {
    background: #458B00;
    /*background: #98FF98;*/
    border: none
}

.page-header .navbar .nav > li > a {
    color: #ffffff;
    /*font-weight: bold;*/
    font-size: 14px;
    text-shadow: none;
}

nav .navbar .nav > li > a:focus,
nav .navbar .nav > li > a:hover {

}

/*пыталась сделать так, чтоб при наведении буквы были белыми*/
.nav-middle .nav > li > a:hover {
    color: white !important;
}

.nav-middle .nav > li {

}

div.sub_block_1 div.span2, .ajax-block-response, .sub_block_2, /*#myCarousel*/ {
    display: none;
}

#myCarousel {
    margin-bottom: 0;
}

/*to top arrow*/
#toTop {
    /*background-color:rgba(0,280,0,0.7);*/
    width: 30px;
    height: 30px;
    /*border: 1px solid #458B00;*/
    border-radius: 20px;
    background: #458B00;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px; /* отступ кнопки от нижнего края страницы*/
    right: 10px;
    cursor: pointer;
    display: none;
    /*color: white;
    font-family: verdana;
    font-size: 14px;*/
    opacity: 0.7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-image: url("/media/img/arrow.png");
}

#toTop:hover {
    opacity: 1
}

/*Carousel*/
.carousel img {
    width: 100%;
}

.page-header .carousel-caption h4 {
    color: #458B00
    /* color: #98FF98;*/
}

.page-header .carousel-caption p {
    font-size: 12px
}

/*Installer*/
.installed > .span6 {
    padding: 15px;
}

/*Sections*/
section.section-content {
    margin: 40px 0 10px 0;
}

/*Three blocks sub_bloc_1*/

section.row-fluid.section-content.sub_block_1 {
    margin-bottom: 50px;
}
.sub_block_1 .span3 {
    position: relative;
    height: 300px;
    /*border-radius: 10px;
    border: 1px solid #458B00;
    background-color: #ffffff;
    /*background-color: #98FF98;*/
    /*color: #333;
    margin: 10px 0 10px 0;
    height: 200px;*/
}

.sub_block_1 .b1 h4, .sub_block_1 .b1 p {
    margin: 5px;
}

.sub_block_2 .span8 {
    margin-top: 35px;
}

/*Blocks inside of sub_block_1*/
.b1 {
    position: absolute;
    border-radius: 10px;
    border: 1px double rgba(61, 132, 0, 0.20);
    background-color: #ffffff;
    /*background-color: #98FF98;*/
    color: #333;
    margin: 50px 0 0 0;
    height: 70%;
    width: 100%;
    padding-top: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.b2 {
    position: inherit;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #458B00;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.icon_visitcard {
    background-image: url("/media/img/sub_block_1/business-card.png");
}

.icon_shop {
    background-image: url("/media/img/sub_block_1/shopping-cart.png");
}

.icon_help {
    background-image: url("/media/img/sub_block_1/project.png");
}

.icon_consult {
    background-image: url("/media/img/sub_block_1/consultation.png");
}

/*sub_bloc_2*/
.sub_block_2 .first .row-fluid,
.sub_block_2 .second .row-fluid {
    padding: 5px;
}

.circle {
    margin-top: 30px;
    background-color: #458B00;
    height: 60px;
    width: 60px !important;
    /*border: 1px solid #ccc;*/
    border-radius: 140px;
    position: relative;
}

.circle .circle-text {

    color: white;
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 50px;
    font-family: serif;
    /*font-weight: bold;*/
}

section.sub_block_2 .span4 {
    padding-top: 70px;
}

section.sub_block_2 .span4 .second {
    margin-left: 0;
}

/*Guest Book*/
.label-newpost {
}

.post .span9 {
    background-color: #ffffff;
    padding: 10px;
    border: 1px double rgba(61, 132, 0, 0.20);
    border-radius: 10px;
    font-size: 13px;
    box-shadow: 12px 12px 25px rgba(0, 0, 0, 0.5);

}

#new-post-form input[type="text"],
#new-post-form input[type="email"],
#new-post-form textarea {
    box-shadow: 12px 12px 25px rgba(0, 0, 0, 0.5);
}

.guest-book-set-rating {
    margin-top: 20px;
}

.post .span3 {
    font-style: italic;
}
.post .span9{
 min-height: 80px;
}
.posts {
    margin-top: 15px;
}

.line {
    border-bottom: 1px solid #ccc;
    margin: 10px 0 15px 0
}

.added-post-success .text-success {
    display: none;

}

.add-new-post-form {
    margin-top: 15px;
}

#modal h3 {
    font-size: 14px;
}

#modal-success p.success-msg {
    color: #458B00;
}

#modal-success p.error-msg {
    color: #ff2313;
}

.modal-footer-ps {
    font-size: 11px;
    color: #cccccc;
    font-style: italic;
}

/*Footer*/
footer .content-container {
    padding: 0 20px 0 20px;
    margin-top: 2%;
}

.resume {
    height: 50px;
    background-color: #458B00;
    text-align: center;
    padding-top: 15px;
    font-size: 16px;
}

.resume:hover {
    background-color: #295309;
}

.resume span {
    color: white;
}

.footer-social {
    margin-top: 25px;
}

.sprite-icon {
    background-image: url("/media/img/img_site/sprite.png");
    /* background-size: 31px;*/
    background-repeat: no-repeat;
    width: 48px;
    height: 46px;
    /* border-radius: 50px;*/

}

footer.modal-footer {
    padding: 0;
    margin-top: 30px;
}

.footer-middle-part {
    background: #333;
    min-height: 150px;
}

.vk {
    background-position: -78px -19px;
}

.fb {
    background-position: -140px -19px;
}

.g-plus {
    background-position: -263px -18px;
}

.social-label h6, .contacts-label h6 {
    color: #ffffff;
}

footer .contacts .list a {
    /*font-style: italic;*/
    color: #ffffff;
    font-size: 12px;

}

footer .contacts .list a:hover {
    color: #458B00;
}

.bondarenko {
    margin-top: 10px;
    color: #ffffff;
    font-size: 10px;
}

/*Buttons*/
.add_new_post, .show-post-add-form-btn {
    min-height: 35px;
    min-width: 110px;
    background-color: #458B00;
    border: none;
    color: #ffffff;
    font-weight: 500;
}

input[type=button]:focus, input[type=submit]:focus, button:focus {
    outline: rgba(118, 236, 18, 0.80);
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(85, 236, 21, 0.60)!important;*/

}

input[type=button]:hover, input[type=submit]:hover, button:hover {
    background-color: #295309;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus,
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus,
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,
input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(118, 236, 18, 0.80) !important;
    -webkit-box-shadow: 12px 12px 25px rgba(85, 236, 21, 0.60) !important;
    -moz-box-shadow: 12px 12px 25px rgba(85, 236, 21, 0.60) !important;
    box-shadow: 12px 12px 25px rgba(85, 236, 21, 0.60) !important;
}

/*Resize*/
@media (max-width: 767px) {
    body {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .container-fluid.content-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .sub_block_1 .span3 {
        margin-bottom: 45px;
    }

    footer .social .span2 {
        margin-bottom: 10px;
    }
}

@media (min-width: 979px) {
    /*Navigation*/
    .nav-middle {
        width: 24%;
        margin: 0 auto;
    }

    ul.nav li {
        border-right: 1px solid #ffffff;
    }

    ul.nav li:first-child {
        border-left: 1px solid #ffffff;
    }

    ul.nav li:hover {
        background-color: #295309;
    }
}

