<div class="content">
<div class="navbar">
    <nav class="navbar-inner">
        <ul class="nav">
            <li><a onclick="<?php echo Core::onClickRedirect(Core::getParams('_controller')) ?>">Main Page</a>
            </li>
            <li><a onclick="<?php echo Core::onClickRedirect(Core::getParams('_controller') . '/guestbook') ?>">GuestBook</a>
            </li>
        </ul>
    </nav>
</div>
<div class="row-fluid">
    <div class="offset11 span1">
        <form method="post" action="<?php echo Core::getUrl(Core::getParams('_controller').'/destroy');?>">
            <input type="submit" name="admin_destroy" class="btn-link adm-exit" value="exit">
        </form>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 admin-content"><?php $this->getChild('admin_content'); ?></div>
</div>
