<div class="page-header">

    <div class="row-fluid">
        <div class="offset3 span6 text-center">
            <span class="admin-logo">
                Administrative panel. Personal site
                Bondarenko A.
            </span>
        </div>
    </div>
</div>