<div class="row-fluid">
    <div class="offset3 span6">
      <form method="post" name="authorization" action="<?php echo Core::getUrl(Core::getParams('_controller').'/enter');?>">
          log  <input type="text" name="admin_login" id="admin_login" class="input-medium"/>
        pass <input type="password" name="admin_password" id="admin_password" class="input-medium"/>
          <input type="submit" name="send_adm_data" class="btn-block" id="send_adm_data">
      </form>

    </div>
</div>